.main {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 480px) {
	.main {
		width: 500px;
	}
}

.header-image {
	content: url("header-image.png");
	width: 100%;
}

body {
	background-color: #4C4E52;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

* {
    scrollbar-color: #00ffe4 #ff0000;
}

a:link {
    color: fuchsia;
    text-decoration: none;
}
a:visited {
    color: orange;
    text-decoration: none;
}
a:hover {
    color: lime;
    text-decoration: none;
}
a:active {
    color: pink;
    text-decoration: none;
}

/*.blog-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}*/

.footer {
    display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
