.main {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 480px) {
	.main {
		width: 500px;
	}
}

.header-image {
	content: url("/images/header-image.png");
	width: 100%;
}

img:not(.feedicon) {
    max-width: 100%
}

#links {
	text-align: left;
	width: 750px;
}

.indent {
	padding-left: 20px;
	list-style-type: none;
}

.doubleIndent {
	padding-left: 40px;
}

body {
	background-color: #4C4E52;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

* {
    scrollbar-color: #00ffe4 #ff0000;
}

a:link {
    color: fuchsia;
    text-decoration: none;
}
a:visited {
    color: orange;
    text-decoration: none;
}
a:hover {
    color: lime;
    text-decoration: none;
}
a:active {
    color: pink;
    text-decoration: none;
}

/*.blog-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}*/

.footer {
    display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }

  input {
    font-size: 1rem;
  }

  .user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
  }

  .card {
    padding: .5rem;
    overflow: hidden;
  }

  .card > .header {
    margin-bottom: .25rem;
  }

  .card > .search-body {
    font-size: .8rem;
    width: 10;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
  }

  .hide {
    display: none;
  }

  

