
<div id="main">
<li class="indent"><a href="/blog/reviews/all/">All Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/films/">Film Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/games/">Video Game Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/distros/">Linux Distrobution
    Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/books/">Book Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/songs/">Song Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/shows/">Show Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/albums/">Album Game Reviews</a><br/></li>
<li class="indent"><a href="/blog/reviews/concerts/">Concert Reviews</a><br/></li>
</div>
<script src="/html.js">
</script>
<script src="template.js">
</script>
