<style>
   table, th, td {
       border: 1px solid;
   }
</style>
<meta charset="UTF-8"/>
<h1>An annotation of character names and their meanings</h1>
Most of the Overlander names are quite boring and a lot of the Underlander
name I couldn 't find any meanig to them.<br/>
Anything that says it is a standard name means it is a common name that likely
has no further meaning and Unkown means I have never heard the name nor know
what it means, they are likely random, though a lot of the Underlander ones
are European sounding.
<h2>Patterns:</h2>
<table>
  <tr>
    <td><b>Species/Race:</b></td>
    <td><b>Pattern:</b></td>
  </tr>
  <tr>
    <td>Overlanders</td>
    <td>Nearly always have generic human North American/European names</td>
  </tr>
  <tr>
    <td>Underlanders</td>
    <td>Mostly seeminly random/uncommon names, most sound/are European</td>
  </tr>
  <tr>
    <td>Fliers</td>
    <td>Most are named after Greek/Roman mythology and are often descriptive of their character</td>
  </tr>
  <tr>
    <td>Gnawers</td>
    <td>Most incorporate violent/aggressive adgectives likely intended to
      intimidate</td>
  </tr>
</table>
<h2>Humans:</h2>
<h3>Overlanders:</h3>
<table>
  <tr>
    <td><b>Name:</b></td>
    <td><b>Comment:</b></td>
  </tr>
  <tr>
    <td>Gregor</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Boots</td>
    <td>Named after ow she liked to steal the family's boots during the
      winter, real name: Margaret</td>
  </tr>
  <tr>
    <td>Bartholomew of Sandwich</td>
    <td>Jewish or Christian name meaning "son of Talmai", often shortened to "Bart", seemingly from a
      town called Sandwich in Kent, England</td>
  </tr>
  <tr>
    <td>Grace</td>
    <td>A Standard Overlander name</td>
  </tr>
  <tr>
    <td>Lizzie</td>
    <td>Short for Elizabeth, a standard Overlander name</td>
  </tr>
  <tr>
    <td>Jedidiah</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Mrs/Mr. Cormaci</td>
    <td>An Overlander surname, most common in Italy</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Angelina</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Fred Clark</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Coco</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Mr. Otts</td>
    <td>An Overlander surname, most common in The USA</td>
  </tr>
  <tr>
    <td>Rodney</td>
    <td>A standard Overlander name</td>
  </tr>
  <tr>
    <td>Lucy</td>
    <td>A standard Overlander name</td>
  </tr>
</table>
<h3>Underlanders:</h3>
<table>
  <tr>
    <td><b>Name:</b></td>
    <td><b>Comment:</b></td>
  </tr>
  <tr>
    <td>Luxa</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Vikus</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Henry</td>
    <td>A standard name, perhaps named after a British king</td>
  </tr>
  <tr>
    <td>Howard</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>Susannah</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>York</td>
    <td>Likely named after English town of York in Yorkshire</td>
  </tr>
  <tr>
    <td>Stellovet</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Hero</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Kent</td>
    <td>Possibly named after Sandwiches county of origin, Kent</td>
  </tr>
  <tr>
    <td>Chim</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Solovet</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Hamnet</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Judith</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>Princess Nerissa</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Mareth</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Neveeve</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Dulcet</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Horatio</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>Marcus</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>Miravet</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Perdita</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Miranda</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>Lucent</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Claudius</td>
    <td>A standard name</td>
  </tr>
  <tr>
    <td>Anchel</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Daphne</td>
    <td>Unknown</td>
  </tr>
  <tr>
    <td>Keeda</td>
    <td>Unknown</td>
  </tr>
</table>
<h3>Halflanders:</h3>
<table>
  <tr>
    <td><b>Name:</b></td>
    <td><b>Comment:</b></td>
  </tr>
  <tr>
    <td>Hazard</td>
    <td>Unknown</td>
  </tr>
</table>
<h2>Fliers:</h2>
<table>
  <tr>
    <td><b>Name:</b></td>
    <td><b>Comment:</b></td>
  </tr>
  <tr>
    <td>Ares</td>
    <td>Greek god of war, descriptive of Ares character who is described as
      large and strong.</td>
  </tr>
  <tr>
    <td>Auro ra</td>
    <td>Roman goddess of the Dawn, also means Dawn in latin, the dawn sun is
    golden like Auroras fur.</td>
  </tr>
  <tr>
    <td>Ajax</td>
    <td>This was the name of two of the heroes who fought for the Greeks in
      the Trojan War, Ajax is Solovets bond who is the leader of the Regalian
      army so this name is fitting</td>
  </tr>
  <tr>
    <td>Andromeda</td>
    <td>In Greek mythology, an Ethiopian Queen who was saved by Perseus, also
      the name of the closest galaxy.</td>
  </tr>
  <tr>
    <td>Euripedes</td>
    <td>An Athenian playwright</td>
  </tr>
  <tr>
    <td>Nike</td>
    <td>Derived from Greek nikē "Victory"</td>
  </tr>
  <tr>
    <td>Queen Athena</td>
    <td>Greek Goddess of intelligence and war, she was born out of Zeus'
      forehead. Likely due to Queen Athena's planning abilities in the first book</td>
  </tr>
  <tr>
    <td>Pandora</td>
    <td>The first woman in Greek Mythology, opened a box which filled the
    world with evil, hence "pandora's box". Pandora (flier) opened the pandora
      box of the island of mites, so this is likely foreshadowing.</td>
  </tr>
  <tr>
    <td>Thalia</td>
    <td>Unkown</td>
  </tr>
  <tr>
    <td>Daedalus</td>
    <td>In Greek Mythology he was the father of Icarus, seen as a symbol of
      Wisdom.  Daedalus (Flier) shows these wise traits.</td>
  </tr>
  <tr>
    <td>Hermes</td>
    <td>In Greek Mythology he was a messenger of the Gods, similarly Hermes
      (flier) is a messenger bat.</td>
  </tr>
  <tr>
    <td>Icarus</td>
    <td>In Greek Mythology he was the son of Daedalus (Maybe the fliers are
    related likewise?), however when they made a pair of wings he flew too
      close to the sun and it melted the wings causing him to die.</td>
  </tr>
  <tr>
</table>
<h2>Gnawers:</h2>
<table>
  <tr>
    <td><b>Name:</b></td>
    <td><b>Comment:</b></td>
  </tr>
  <tr>
    <td>Ripred</td>
    <td>Rip - to tear something, Red - Likely related to blood</td>
  </tr>
  <tr>
    <td>SilkSharp</td>
    <td>Silk - the color of his fur, sharp - likely refers to sharp claws</td>
  </tr>
  <tr>
    <td>Lapblood</td>
    <td>Lap - Overtake someone, the rat is fast? Blood - blood</td>
  </tr>
  <tr>
    <td>Mange</td>
    <td>A skin disease</td>
  </tr>
  <tr>
    <td>Sixclaw</td>
    <td>six claws?</td>
  </tr>
  <tr>
    <td>Flyfur</td>
    <td>Fly - run fast, fur refers to how rats have fur</td>
  </tr>
  <tr>
    <td>Twitchtip</td>
    <td>twitch - Sudden jerky movements, tip likely refers to her nose (very
      sensitive)</td>
  </tr>
  <tr>
    <td>Cleaver</td>
    <td>Cleaver - A large knife for cutting meat</td>
  </tr>
  <tr>
    <td>Goldshard</td>
    <td>Gold - precious metal, shard - a broken peice of glass</td>
  </tr>
  <tr>
    <td>Makemince</td>
    <td>Make - create, mince - small, cut up meat; therefore to make mince
      would be to cut you up</td>
  </tr>
  <tr>
    <td>Ratriff</td>
    <td>Rat - Overland species that gnawers resemble, riff - ?[rythmic section
      of music usually in a chorus]</td>
  </tr>
  <tr>
    <td>Razor</td>
    <td>Razor - a knife used for shaving</td>
  </tr>
  <tr>
    <td>The Bane/Pearlpelt</td>
    <td>Bane - Something that inflicts misery or annoyance (the bane causes
    genocide so this is an understatement), pearl - a beautiful smooth stone
    created by clams (relates to his white fur), pelt - a rats fur; his pelt
      is pearly</td>
  </tr>
  <tr>
    <td>King Gorger</td>
    <td>King - Male monarch, Gorger - someone who forceable removes things (ie
      gorging someones eyes out)</td>
  </tr>
  <tr>
    <td>Twirltounge</td>
    <td>Twirl - rotation (likely in reference to hypnotism of which she seems
    to have this affetc), tounge - a body part of a way of speaking; her
      language is twirly and so hypnotises others such as The Bane</td>
  </tr>
</table>

